<html>
	<head>
		<title>Wofl</title>
	</head>
	<body>
		<form action="/createpost" method="post" autocomplete="off">
			<div>
				<label for="title">Title:</label>
				<input type="text" id="title" name="title" autocomplete="off"/>
			</div>
			<div>
				<label for="body">Body:</label>
				<textarea type="text" id="body" name="body" autocomplete="off"></textarea>
			</div>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>