<% require "json" %>

<html>
	<head>
		<title>Wofl</title>
		<link rel="stylesheet" href="/index.css">
	</head>
	<body>
		<a href="/">
			<img class="woflImage" src="/wofl.png"></img>
		</a>
		<div class="postsContainer">
			<a href="/createpost">Make a post</a><br><br>
			<% 
			postListing = Dir["posts/*"]
			postListing.sort! {|a, b| File.basename(b).to_i <=> File.basename(a).to_i }
			postListing.each do |fileName| %>
				<div>
					<% postHash = JSON.parse(File.read(fileName)) %>
					<a href="/<%= File.basename(fileName) %>" class="postTitle"><%=htmlEscape "#{postHash["0"]["title"]}" %>
						<div class="idText">ID: <%= File.basename(fileName) %></div>
					</a>
					<br>
					<div><%=p postHash["0"]["body"] %></div>
					<br><br>
				</div>
			<% end %>
		</div>
	</body>
</html>



