<% require 'json' %>

<html>
	<head>
		<title></title>
	</head>
	<body>
		<% 
		postListing = Dir['posts/*']
		postListing.sort! {|a, b| File.basename(a).to_i <=> File.basename(b).to_i }
		postListing.each do |fileName| 
			postHash = JSON.parse(File.read(fileName)) %>
			<a href="/"><%= postHash["0"]["title"] %></a>
			<br>
			<div><%= postHash["0"]["body"] %></div>
			<br><br>
		<% end %>
	</body>
</html>

