<% require "json" %>

<html>
	<head>
		<title>Wofl</title>
		<script src="/post.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/index.css">
		<link rel="stylesheet" href="/universal.css">
	</head>
	<body>
		<div class="topPanel">
			<a href="/">
				<img class="woflImage" src="/wofl.png"></img>
			</a>
			<img src="/add.png" alt="Post something!" id="postButton" class="postButton" onclick="displayPostForm()"></img>
		</div>
		<div class="postContainer">
			<% 
			postListing = Dir["posts/*"]
			if postListing.length > 0
				postListing.sort! {|a, b| File.basename(b).to_i <=> File.basename(a).to_i }
				postListing.each do |fileName| %>
					<div>
						<% postHash = JSON.parse(File.read(fileName)) %>
						<a href="/<%= File.basename(fileName) %>" class="postTitleText"><%=htmlEscape "#{postHash["0"]["title"]}" %>
							<div class="idText">ID: <%= File.basename(fileName) %></div>
						</a>
						<br>
						<div class="postBody"><%=p postHash["0"]["body"] %></div>
						<br><br>
					</div>
			<% 
				end
			end %>
		</div>
	</body>
</html>



