@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

html {
	background: linear-gradient(180deg, #707070, #808080 69.5px, #EBEBEB 70px, #F0F0F0);
}

.woflImage {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 64px;
}

.postsContainer {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
}

.postTitle:link {
	font-family: 'Montserrat', sans-serif;
	font-size: 64px;
	display: block;
	text-align: center;
	width: 100%;
	text-decoration: none;
	color: black;
}

.postTitle:visited {
	color: gray;
}

.idText {
	font-size: 10px;
}