@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.ipColorBox {
	display: inline-block;
	padding: 10px;
	padding-top: 5px;
	vertical-align: top;
}

.commentText {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	width: calc(100% - 30px);
	float: right;
	word-wrap: break-word;
	word-break: normal;
}

.commentBox {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	width: 100%;
}

.commentTable {
	display: block;
	width: 100%;
	max-width: 100%;
}

.commentLength {
	float: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: right;
}

.singleComment {
	overflow: hidden;
	margin-bottom: 20px;
}